body {
    margin: 0;
    padding: 0; 

    font-family: "Cuprum","Arial", sans-serif;
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* 
.
.
HEADER
.
.
 */

.header-top {
    margin: 0;
    line-height: 18px; 
    color: #ffffff;
    width: 100%;
    height:42px;
    background-color: #293449;
}

.container {

    width:940px;
    margin: 0 auto;
    padding: 0 10px;

}

.flex {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

.header-top a{
    color: #ffffff;
    display: block;
}

.logo {
    width: 220px;
    height: 42px;
    background-color: #ee3643;
    box-shadow: 0 5px 0 0  #b52933;
}

.logo-img {
    padding: 13px 55px 11px 55px;
} 


.logo:hover {
  background-color: #ca2c37;
}
.logo:active {
    background-color: #ba2732;
}

.form-search {
    width: 270px;
}

.form-search__input {
    position: relative;
    width: 100%;
    font-size: 17px;
    line-height: 18px;

    border: 0;
    padding: 12px 0 12px 48px;

    color: #ffffff;
    background-color: #293449;
}

.form-search__label {

    position: absolute;
    top: 11px;
    left: 16px;

    width: 20px;
    height: 20px;
    
    background-image: url(../img/icon-search.svg);
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.6;
}


.form-search__input:hover {
    color: #ffffff;
    background-color: #212a3a;
}

.form-search__input:focus {
    color: #000000;
    background-color: #ffffff;
}

.bookmarks {
    position: relative;
    padding: 12px 27px 12px 44px;
}

.cart {
    position: relative;
    padding: 12px 27px 12px 50px;
}

.inner-page .bookmarks {
    position: relative;
    padding: 12px 27px 12px 44px;

}

.inner-page .cart {
    position: relative;
    padding: 12px 27px 12px 49px;
    background-color: #ee3643;
}

.bookmarks::before {
    content: "";

    position: absolute;
    top: 11px;
    left: 16px;

    width: 20px;
    height: 20px;
    
    background-image: url(../img/icon-bookmark.svg);
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.6;
}

.cart::before {
    content: "";

    position: absolute;
    top: 11px;
    left: 16px;

    width: 20px;
    height: 20px;
    
    background-image: url(../img/icon-cart.svg);
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.6;
}

.bookmarks:hover,
.cart:hover {
    background-color: #212a3a;
}

.bookmarks:active,
.cart:hover:active {
    color: rgba(255, 255, 255, 0.6);
    background-color: #161d29;
}

.bookmarks:hover::before,
.cart:hover::before {
    opacity: 1;
}

.bookmarks:active::before,
.cart:active::before {
    opacity: 0.6;
}

.order {

    color: #ffffff;
    text-align: center;
    background-color: #63a63e;
    padding: 12px 22px 12px 20px;

}

.order:hover {
    color: #ffffff;
    background-color: #5fbb2d
}

.order:active {
    color: rgba(255, 255, 255, 0.502);
    background-color: #518534
}

.header-bottom {
    margin: 0;
    margin-bottom: 59px;

    color: #32425c;
    height: 278px;
    background-color: #f3f7f8;
}

.header-middle {
    padding: 46px 0 42px 0;
    
}

.header-info {
    width: 300px;
}

.header-info__text {
    width: 200px;
    margin: auto;
    /* padding: 0 50px 0 50px; */
    font-size: 16px;
    line-height: 23px;
    font-family: "Cuprum","Arial",sans-serif;
    font-style: italic;

    font-weight: 400;
    color: #ee3643;
}

.header-contacts {
    width: 310px;
    margin: auto;
    padding: 1px 20px;
    text-align: center;
}

.header-contacts__phone {
    display: block;
    position: relative;

    padding: 10px 48px 8px 71px;
    font-size: 21px;
    line-height: 21px;
    color: #ee434f;
    border: 3px #ffffff solid;

    background-color: #f4f7f9;   
}

.header-contacts__phone::before {
    content: "";

    position: absolute;
    top: 11px;
    left: 16px;

    width: 20px;
    height: 20px;
    
    background-image: url(../img/icon-phone.svg);
    background-repeat: no-repeat;
    background-position: 0 0;

}

.header-contacts__address {
    margin-top: 4px;
    margin-bottom: 2px;
    font-size: 14px;
    line-height: 24px;
    color :#32425c;

    background-color: #f3f7f8; 
}

.user-navigation {
    margin: 0 0 auto auto;
    font-size: 21px;
    line-height: 21px;
    width: 330px;

    padding: 0 0 25px 30px;
}

.user-navigation a {
    display: block;

    font-size: 21px;
    line-height: 21px;
    color :#000000;

    background-color: #ffffff; 
}

.user-navigation__login {
    position: relative;
    padding: 12px 27px 12px 47px; 
    text-align: center;
    background-color: #ffffff; 
    margin-right: 10px;
}

.user-navigation__login::before {
    content: "";

    position: absolute;
    top: 13px;
    left: 16px;

    width: 20px;
    height: 20px;
    
    background-image: url(../img/icon-login.svg);
    background-repeat: no-repeat;
    background-position: 0 0;

}

.user-navigation__registration {
    text-align: center;
    padding: 12px 25px 12px 25px;
    background-color: #ffffff; 
}

.user-navigation a:hover {
    color :#ee3643;
    background-color: #ffffff; 
}

.user-navigation a:active {
    color: rgba(0, 0, 0, 0.302);
    background-color: #ffffff; 
}

.user-navigation__user {
    position: relative;

    font-size: 21px;
    line-height: 21px;

    background-color: #ffffff; 
    padding: 12px 65px 12px 45px;
    margin: 0;
}

.user-navigation__user::before {
    content: "";

    position: absolute;
    top: 13px;
    left: 15px;

    width: 20px;
    height: 20px;
    
    background-image: url(../img/icon-user.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.user-navigation__user::after {
    content: "";

    position: absolute;
    top: 14px;
    right: 14px;

    width: 20px;
    height: 20px;
    
    background-image: url(../img/icon-logout.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.inner-page .user-navigation__user:hover {
    color: #000000;
} 
.inner-page  .user-navigation__user:active {
    color: rgba(0, 0, 0, 0.302);
}


.user-navigation__menu {
    font-size: 16px;
    line-height: 18px;
    
    padding: 8px 73px 0 17px;
    margin: 0;

}

.user-navigation__menu a {
    background-color: #f1f5f7;
    text-decoration:  underline;
    font-size: 16px;
    
    color: #32425c;
}

.user-navigation__menu a:hover {
    color :#ee3643;
    background-color: #f1f5f7; 
}
.user-navigation__menu a:active {
    color: rgba(50, 66, 92, 0.302);
}

.inner-page .point {
    margin: 8px auto;
    width: 5px;
    height: 5px;
    background-color: #32425c;
    border-radius: 50%; 
}

.header-navigation__list {
    list-style: none;

    background-color: #32425c;

    padding: 0 21px;
    height: 55px;
    box-shadow: 0 5px 0 0 #293449;
    margin: auto;
} 

.header-navigation__list li {
    margin: auto;
}

.header-navigation__list a {

    font-size: 17px;
    line-height: 17px;
    color :#ffffff;
    padding: 17px 31px 18px 31px;
}

.header-navigation__list a:hover {
    background-color: #293449;
}
.header-navigation__list a:active {
    color: rgba(255, 255, 255, 0.502);
    background-color: #1d2739;
}

.actual {
    font-size: 14px;
    line-height: 18px;

    background-color: #ffffff; 
}

.actual-list {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

.slider {

    width: 620px;
    height: 266px;
    background-color: #ffbf47; 
}

.actual-right {
    flex-direction: column;
}

.actual-list:last-child {
    margin-bottom: 53px;
}

.actual h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;
}

.category {
    background-color: #ffbf47; 
    width: 300px;
    height: 123px;
}

.category a {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.1)
}

.category a:hover {
    background-color: rgba(0, 0, 0, 0.2)
}

.category a:active {
    background-color: rgba(0, 0, 0, 0.3)
}

.popular-head {
    padding: 25px 24px 26px 40px;
    margin: 0;
    margin-bottom: 20px;

    font-size: 30px;
    line-height: 30px;
    color :#32425c;
    text-transform: uppercase;

    background-color: #f9f5f0;
}

.popular-head h2 {
    margin: auto 0;

    font-size: 30px;
    line-height: 30px;
    color :#32425c;
    font-weight: 400;
    font-family: "Cuprum","Arial",sans-serif;
    background-color: #f9f5f0;
}

.catalog-pop {
    margin: 0;
    padding: 0;
    list-style: none;
}

.catalog-item {
    width: 220px;
    height: 317px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.catalog-item:last-child {
    margin-right: 0;
}

.catalog-item:hover {
    box-shadow: 2px 2px 2px 2px #000000;
}

.catalog-item-title {
    font-family: "PT Sans","Arial", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color :#000000;
    font-family: "Cuprum","Arial",sans-serif;
    background-color: #ffffff;
}


.catalog-item-action a {
    text-transform: uppercase;
}

.catalog-item-action__buy {
    color :#ffffff;
    text-transform: uppercase;
    background-color: #63a63e;
}

.catalog-item-action__buy:hover {
    background-color: #5fbb2d;
}

.catalog-item-action__buy:active {
    background-color: #518534;
}

.catalog-item-action__bookmarks {
    color: #63a63e;
    background-color: #ffffff;
    border: 1px #63a63e solid;
}

.catalog-item-action__bookmarks:hover {
    color: #32425c;
    border: 1px #32425c solid;
}

.catalog-item-action__bookmarks:active {
    color: rgba(50, 66, 92, 0.302);
    border-color: rgba(50, 66, 92, 0.302);
}

.oldprice {
    font-size: 17px;
    line-height: 18px;
    font-family: "PT Sans","Arial",sans-serif;
    color: rgb(169, 169, 169); 
    font-weight: 700;
    text-decoration: line-through;
}


.price-button {
    font-size: 17px;
    line-height: 18px;
    font-family: "PT Sans","Arial",sans-serif;
    font-weight: 700;
    color:#ffffff;
    background-color: #ee434f;
}

.button {
    display: inline-block;
    padding: 14px 40px;

    font-size: 14px;
    line-height: 18px;
    color:#ffffff;
    text-transform: uppercase;

    background-color: #ee434f;
    border-radius: 3px;
}



.popular-firms {
    background-color: #f9f5f0;
    padding: 25px 24px 26px 30px;
    margin: 0 0 20px 0;
}

.popular-firms h2 {
    margin: auto 0;
    width: 400px;

    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    font-family: "Cuprum","Arial",sans-serif;
    color :#32425c;
    text-transform: uppercase;

    background-color: #f9f5f0;
}


.firms-logo {
    background-color: #ffffff; 
}

.firms-logo ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.firms-logo li {
    width: 220px;
    height: 145px;
    margin: 0 20px 20px 0;

    text-align: center;
}


.firms-logo li:last-child {
    margin: 0 0 20px 0;
}

.firms-logo img{
    margin: auto;
}

.firms-logo li:hover {
    box-shadow: 2px 2px 2px 2px #000000;
}

.firms-logo li:active {
    box-shadow: 1px 1px 1px 1px #000000;
}

.services-block {
    margin: 0;
    width: 100%;

    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans","Arial",sans-serif;
    font-weight: 400;
    color:#000000;

    background-color: #f4f8fa;
}

.services-container {
    padding: 60px 0 0 0;
}


.services-block h2 {
    font-family: "Cuprum","Arial",sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    margin: 0;
    color :#000000;
    text-transform: uppercase;

}

.services-block .services-block__heading {
    font-family: "Cuprum","Arial",sans-serif;
    color: #32425c;
    font-size: 36px;
}


.company {
    padding: 80px 0;
    margin-bottom: 0px;
    font-family: "Cuprum","Arial", sans-serif;
    font-size: 18px;
    line-height: 20px;
    background-color: #ffffff; 
}

.company p{
    margin-top: 0;

    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans","Arial",sans-serif;
    font-weight: 400;
    color:#000000; 
}

.company h2{
    margin: 0 0 27px 0;

    font-size: 30px;
    line-height: 30px;
    font-weight: 400;

    color :#000000;
    text-transform: uppercase;
}

.about-us {
    width: 540px;
}

.about-us__delivery {
    width: 390px;
}

.company-list {
    list-style: none;
    font-size: 18px;
    line-height: 20px;

    margin-top: 0;
    margin-bottom: 28px;
}

.company-list li {
    padding: 9px 0;
}


.contacts {
    margin-left: auto;
    width: 300px;
}

.contacts p {
    width: 220px;
}

.contacts img {
    margin-bottom: 40px;
}

/*
.
.
CATALOG
.
.
 */
 
.inner-page .header-bottom {
    margin-bottom: 25px;
}

.breadcrumbs,
.by-firms,
.by-type {
    list-style: none;
}

.breadcrumbs {
    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans","Arial",sans-serif;
    text-transform: uppercase;
    color: #000000;

    justify-content: flex-start;
    margin-bottom: 25px;
}

.breadcrumbs li {
    display: inline; 
    padding: 0 18px;
}

.breadcrumbs a{
    color: #000000;
}

.main-heading {
    background-color: #ffffff;

}

.heading {
    padding: 24px 0 25px 30px;
    margin: 0;
    margin-bottom: 20px;

    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #32425c;

    background-color: #f2f6f8;
}

.main-block {
    background-color: #ffffff;
}

.filters {
    width: 220px;
}

.form-filters {
    font-size: 15px;
    line-height: 18px;
    font-family: "PT Sans","Arial",sans-serif;
    text-transform: uppercase;
    color: #000000;
}

.form-filters__heading {
    margin: 0;
    
    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans","Arial",sans-serif;

    background-color: #f7f3ec;
}

.form-filters h2 {
    font-size: 17px;
    line-height: 30px;
}

.filter-button {
    font-size: 13px;
    text-transform: uppercase;
    background-color: #ffffff;
    border: 0 0.5px 0 0 #000000;
}

.sorting {
    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans","Arial",sans-serif;
    color: #000000;
    text-transform: uppercase;
    background-color: #f7f3ec;
}

.sorting__parameters a {
    color: rgba(0, 0, 0, 0.302);
}

.sorting__parameters a:hover {
    color: rgba(0, 0, 0);
}

.sorting__parameters a:active {
    color: #ee3643;
}

.sorting__parameters, 
.sorting__parameters li {
    display: inline; 
}
.sorting__parameters,
.sorting__parameters,
.catalog-list {
    list-style: none;
}

.catalog-right {
    width: 700px;
}

.catalog-list {
    flex-wrap: wrap;
}

.inner-page .catalog-item {
    margin-right: 20px;

}

.inner-page .catalog-item {
    margin-right: 20px;
}

.pagination {
    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans","Arial",sans-serif;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffffff;
}

.pagination a {
    color: #000000;
    background-color: #ffffff;
    border: 0.5px #e5e5e5 solid;
}

a.pagination-current {
    color: #ffffff;
    background-color: #ee3643;
    border: 0.5px #ee3643 solid;
}


.pagination a:hover {
    color: #000000;
    background-color: #ffffff;
    border: 0.5px #bdc6ca solid;
}

.pagination a:active {
    color: #000000;
    background-color: #ffffff;
    border: 0.5px #ee3643 solid;
}

/*
.
.
 FOOTER
.
.
 */

.footer-top {
    width: 100%;
    flex-direction: column;
    padding: 0 0 55px 0;
    margin-bottom: 0;

    font-size: 18px;
    line-height: 24px;
    color :#ffffff;

    background-color: #32425c; 
}

.footer-top-flex {
    padding: 0;
    margin-bottom: 0;
}

.footer-logo {
    height: 63px;
    background-color: #ee3643; 
    box-shadow: 0 5px 0 0  #b52933;

} 

.footer-img {
    padding: 20px 42px 21px 42px;
} 

.footer-logo:hover {
    background-color: #ca2c37;
  }

.footer-logo:active {
    background-color: #ba2732;
}
  
.footer-address {
    margin: 0;
    width: 330px;
}

.footer-top a{
    font-size: 18px;
    line-height: 24px;
    color :#f1f5f7;
}

.footer-top a:hover {
   text-decoration: underline;
}

.footer-top a:active {
    color: rgba(241, 245, 247, 0.502);
    text-decoration: none;
 }

.footer-nav,
.footer-additional-nav,
.footer-social {
    list-style: none;
}

.footer-nav {
    width: 540px;
    margin: 36px 0 34px 0;
}

.footer-additional-nav {
    margin: 0;
    width: 540px;
}

.footer-additional-nav li {
    margin-left: 30px;
}

.footer-additional-nav a{
    color :#ffd180;
}

.footer-additional-nav a:hover{
    text-decoration: underline;
}

.footer-additional-nav a:active{
    color: rgba(255, 209, 128, 0.502); 
    text-decoration: none;
}

.footer-bottom {
    width: 100%;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 18px;
    color :#ffffff;
    background-color: #293449; 
}

.footer-bottom-flex {
    padding: 20px 0 20px 0;
}

.footer-copyright {
    width: 230px;
    margin-right: 160px;
    padding: 0;
}

.footer-social {
    margin:0;
    margin-right: 120px;
    padding: 0;
    width: 150px;


}

.footer-feedback {
    width: 140px;
    margin:0;
    margin-right: 50px;
    padding: 0;
}

.footer-feedback:last-child {
    margin:0;
    width: 110px;

}

.footer-feedback__text {
    margin-bottom: 0;
} 

.footer-feedback__link {
    color :#ffd180;
}

.footer-feedback__link:hover {
    text-decoration: underline;
}

.footer-feedback__link:active {
    text-decoration: none;
    color :#ee3643;
}

.modal-wtite-us,
.modal-map,
.modal-cart {
    display: none;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
