body {
    margin: 0;
    padding: 0; 
    font-family: "Cuprum","Arial", sans-serif;
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
}

a {
    text-decoration: none;
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}
/* метка new */
.new-label::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 59px;
    height: 59px;
    background-image: url(../img/flag.png);
    background-repeat: no-repeat;
}

.new-label:hover::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 59px;
    height: 59px;
    background-image: url(../img/flag.png);
    background-repeat: no-repeat;
}
/* Кнопки */
.button {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 40px;
    position: relative;
    font-family: "Cuprum","Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #ee434f;
    border-radius: 3px;
    cursor: pointer; 
}

.button:hover {
    background-color: #ca2c37;
}

.button:active {
    background-color: #ba2732;
}

.header-top {
    margin: 0;
    line-height: 18px; 
    color: #ffffff;
    width: 100%;
    min-width: 960px;
    min-height: 42px;
    background-color: #293449;
}

.header-top-flex {
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
/* Логотип */
.header-logo-img {
    display: block;
    padding: 13px 55px 11px 55px;
}

.header-logo {
    position: relative; 
    z-index: 100; 
    background-color: #ee3643;    
    -webkit-box-shadow: 0 5px 0 0 #b52933;    
            box-shadow: 0 5px 0 0 #b52933;
}

.header-logo-img {
    display: inline-block;
    vertical-align: middle;
    pointer-events: none;
}

.header-logo:hover {
    background-color: #ca2c37;
}

.header-logo:active {
    background-color: #ba2732;
}
/* Форма поиска */
.form-search {
    min-width: 270px;
    position: relative;
}

.form-search-input {
    max-height: 42px;
    width: 100%;
    font-size: 17px;
    line-height: 18px;
    border: 0;
    padding: 12px 0 12px 48px;
    color: #ffffff;
    background-color: #293449;
    outline: none;
}

.form-search-label {
    position: absolute;
    top: 12px;
    left: 17px;
    width: 17px;
    height: 17px;   
    background-image: url(../img/icon-search.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.6;
}  

.form-search-input::-ms-clear {
    display: none;
    width: 0;
    height: 0; 
}

.form-search-input::-ms-reveal {
    display: none;
    width: 0;
    height: 0; 
}

.form-search-input::-webkit-search-decoration,
.form-search-input::-webkit-search-cancel-button,
.form-search-input::-webkit-search-results-button,
.form-search-input::-webkit-search-results-decoration {
    display: none;
}

.form-search-input::-webkit-input-placeholder,
.form-search-input:-ms-input-placeholder,
.form-search-input::-ms-input-placeholder,
.form-search-input::-webkit-input-placeholder {
    color: #ffffff; 
}

.form-search-input::-webkit-input-placeholder,
.form-search-input:-ms-input-placeholder,
.form-search-input::-ms-input-placeholder,
.form-search-input::placeholder {
    color: #ffffff; 
}

.form-search-input:hover {
    color: #ffffff;
    background-color: #212a3a;
}

.form-search:hover .form-search-label {
    opacity: 1;
}

.form-search-input:focus {
    color: #000000;
    background-color: #ffffff;
}

.form-search-input:focus + .form-search-label {
    position: absolute;
    top: 12px;
    left: 17px;
    width: 17px;
    height: 17px;
    background-image: url(../img/icon-search-active.svg);
    background-repeat: no-repeat;
    background-position: 0 0; 
    opacity: 1;
} 
/* Закладки, корзина */
.header-bookmarks-text {
    display: block;
    color: #ffffff;
    position: relative;
    padding: 12px 10px 12px 43px;
}

.header-cart-text {
    display: block;
    color: #ffffff;
    position: relative;
    padding: 12px 10px 12px 48px;
}

.header-order-text {
    display: block;
    color: #ffffff;
    text-align: center;
    background-color: #63a63e;
    padding: 12px 21px 12px 20px;
}

.header-bookmarks,
.header-cart,
.header-order {
    min-width: 150px;
}

.header-bookmarks-text::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 17px;
    width: 14px;
    height: 16px;
    background-image: url(../img/icon-bookmark.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.6;
}

.header-cart-text::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 18px;
    width: 15px;
    height: 15px;  
    background-image: url(../img/icon-cart.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.6;
}

.header-bookmarks-text:hover,
.header-cart-text:hover {
    background-color: #212a3a;
}

.header-bookmarks-text:active,
.header-cart-text:hover:active {
    color: rgba(255, 255, 255, 0.6);
    background-color: #161d29;
}

.header-bookmarks-text:hover::before,
.header-cart-text:hover::before {
    opacity: 1;
}

.header-bookmarks-text:active::before,
.header-cart-text:active::before {
    opacity: 0.6;
}

.header-order-text:hover {
    color: #ffffff;
    background-color: #5fbb2d
}

.header-order-text:active {
    color: rgba(255, 255, 255, 0.502);
    background-color: #518534
}

.header-cart-text-active,
.header-bookmarks-text-active {
    background-color: #ee3643
}

.header-bottom {
    margin: 0;
    margin-bottom: 60px;
    color: #32425c;
    min-width: 960px;
    width: 100%;
    background-color: #f3f7f8;
}

.header-middle-flex {
    padding: 46px 10px 35px 10px;
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.header-info {
    width: 300px;
}

.header-info-text {
    width: 200px;
    margin: auto;
    padding: 3px 49px 0 51px;
    font-size: 16px;
    line-height: 23px;
    font-family: "Cuprum","Arial",sans-serif;
    font-style: italic;
    font-weight: 400;
    color: #ee3643;
}
/* Контакты */
.header-contacts {
    margin: 0;
    padding: 1px 20px;
    text-align: center;
}

.header-contacts-phone {
    display: block;
    position: relative;
    width: 244px;
    padding: 9px 0 9px 20px;
    font-size: 21px;
    line-height: 21px;
    color: #ee434f;
    border: 3px #ffffff solid;
    background-color: #f4f7f9;   
}

.header-contacts-phone::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 13px;
    width: 20px;
    height: 20px;
    background-image: url(../img/icon-phone.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.header-contacts-address {
    margin-top: 4px;
    margin-bottom: 2px;
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
    background-color: #f3f7f8; 
}
/* Пользовательское меню */
.user-navigation {
    width: 330px;
    font-size: 21px;
    line-height: 21px;
}

.inner-page .user-navigation {
    margin-left: 30px;
}

.user-navigation-login,
.user-navigation-registration {
    display: inline-block;
    vertical-align: middle;
    max-height: 45px;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff; 
}

.user-navigation-login {
    position: relative;
    padding: 12px 24px 12px 14px; 
    text-align: center;
    background-color: #ffffff; 
    margin: 0 0 0 50px;
}

.user-navigation-login-icon {
    display: inline-block;
    vertical-align: middle;
    padding-right: 8px;
    pointer-events: none;
}

.user-navigation-login-text {
    display: inline-block;
    vertical-align: middle;
    pointer-events: none;
} 

.user-navigation-registration {
    float: right;
    margin: 0 0 0 10px;
    text-align: center;
    padding: 12px 24px 12px 24px;
    background-color: #ffffff; 
}

.user-navigation-login:hover,
.user-navigation-registration:hover {
    color: #ee3643;
    background-color: #ffffff; 
}

.user-navigation-login:active,
.user-navigation-registration:active {
    color: rgba(0, 0, 0, 0.302);
    background-color: #ffffff; 
}

.user-navigation-login:hover .user-navigation-fill {
    fill: #32425c;
}

.user-navigation-login:active .user-navigation-fill {
    fill: #c5c5c5;
}

.user-navigation-name {
    position: relative;
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff; 
    padding: 13px 10px 13px 13px;
    margin: 0;
}
.user-navigation-icon-user {
    display: inline-block;
    vertical-align: middle;
    pointer-events: none;
}

.user-navigation-text {
    display: inline-block;
    vertical-align: middle;
    padding: 0 23px 0 9px;
    color: #000000;
    pointer-events: none;
}

.user-navigation-icon-logout {
    display: inline-block;
    vertical-align: middle;
    pointer-events: none;
}

.user-navigation-profile:hover .user-navigation-fill,
.user-navigation-logout:hover .user-navigation-fill {
    fill: #32425c;
}

.user-navigation-profile:active .user-navigation-fill,
.user-navigation-logout:active .user-navigation-fill {
    fill: #c5c5c5;
}

.user-navigation-logout:active {
    fill: #c5c5c5;
}

.user-navigation-profile:active .user-navigation-text {
    color: #c5c5c5;
}

.user-navigation-menu {
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none;
    font-size: 16px;
    line-height: 18px; 
    padding: 5px 73px 0 17px;
    margin: 0;
}

.user-navigation-menu-link {
    background-color: #f1f5f7;
    text-decoration:  underline;
    font-size: 16px;  
    color: #32425c;
}

.user-navigation-menu-link:hover {
    color: #ee3643;
    background-color: #f1f5f7; 
}

.user-navigation-menu-link:active {
    color: rgba(50, 66, 92, 0.302);
}

.user-navigation-point {
    margin: 8px auto;
    width: 5px;
    height: 5px;
    background-color: #32425c;
    border-radius: 50%; 
}
/* Навигация */
.header-navigation {
    padding-bottom: 65px;
}

.header-navigation-list {
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
    background-color: #32425c;
    padding: 0 17px 0 19px;
    -webkit-box-shadow: 0 5px 0 0 #293449;
            box-shadow: 0 5px 0 0 #293449;
    margin: 0;
}

.header-navigation-list-link {
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;
    padding: 19px 31px 19px 31px;
    margin: 0;
}

.header-navigation-list-link:hover {
    background-color: #293449;
}

.header-navigation-list-link:active {
    color: rgba(255, 255, 255, 0.502);
    background-color: #1d2739;
}

.actual {
    font-size: 14px;
    line-height: 18px;
    background-color: #ffffff; 
}

.actual-list {
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 0 32px 0;
    padding: 0;
}

.actual-list-right {
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
}

.actual-list-item {
    background-color: #ffbf47; 
    width: 300px;
    margin-bottom: 20px;
}

.actual-list-item-title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff;
    margin: 20px 0 13px 23px;
}

.actual-list-item-link {
    display: block;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin: 0 0 24px 25px;
    padding: 9px 0;
    width: 135px;
    text-align: center;
}

.actual-list-item-link:hover {
    background-color: rgba(0, 0, 0, 0.2)
}

.actual-list-item-link:active {
    background-color: rgba(0, 0, 0, 0.3)
}

.actual-list-materials {
    background-color: #ffbf47; 
    position: relative;
}

.actual-list-materials-icon {
    position: absolute;
    top: 31px;
    right: 43px;
    width: 44px;
    height: 65px;
    background-image: url(../img/icon-materials.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.actual-list-tool {
    background-color: #3bbce3; 
    position: relative;
}

.actual-list-tool-icon {
    position: absolute;
    top: 33px;
    right: 28px;
    width: 75px;
    height: 61px;
    background-image: url(../img/icon-tool.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.actual-list-equipment {
    background-color: #dc91d8; 
    position: relative;
}

.actual-list-equipment-icon {
    position: absolute;
    top: 31px;
    right: 31px;
    width: 78px;
    height: 62px;
    background-image: url(../img/icon-equipment.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.actual-list-discounts {
    background-color: #8ed78f; 
    position: relative;
}

.actual-list-discounts-icon {
    position: absolute;
    top: 26px;
    right: 45px;
    width: 59px;
    height: 72px;
    background-image: url(../img/icon-discounts.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.actual-list-delivery {
    background-color: #ffc047; 
    position: relative;
}

.actual-list-delivery-icon {
    position: absolute;
    top: 32px;
    right: 31px;
    width: 78px;
    height: 63px;
    background-image: url(../img/icon-delivery.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}
/* Слайдер 1 */
.actual-list-slider-block {
    position: relative;
}

.actual-list-slide {
    width: 620px;
    display: none;
}

.actual-list-slider-radio {
    display: none;
}

.actual-list-slider-labels {
    position: absolute;
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    top: 220px;
    left: 295px;
    width: 30px;
    height: 10px;
}

.actual-list-slider-label {
    cursor: pointer; 
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
}

.actual-list-slider-radio:nth-of-type(1):checked ~ .actual-list-slider-labels .actual-list-slider-label:nth-of-type(1),
.actual-list-slider-radio:nth-of-type(2):checked ~ .actual-list-slider-labels .actual-list-slider-label:nth-of-type(2) {
    width: 6px;
    height: 6px;
    background-color: #ee3643;
    border: 2px solid #ffffff;
    border-radius: 50%;
}

.actual-list-slider-radio:nth-of-type(1):checked ~ .actual-list-slider .actual-list-slide:nth-of-type(1),
.actual-list-slider-radio:nth-of-type(2):checked ~ .actual-list-slider .actual-list-slide:nth-of-type(2) {
    display: block;
}

.actual-list-slide:nth-of-type(1) {
    background: #e3d2bd  url(../img/slider-perforator.jpg) no-repeat;
}

.actual-list-slide:nth-of-type(2)  {
    background: #a2776e url(../img/slider-drill.jpg) no-repeat;
}

.actual-list-slider-name {
    padding: 22px 0 21px 0;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.1);
}

.actual-list-slider-title {
    margin: 0 0 2px 25px;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: #ffffff;
}

.actual-list-slider-text {
    margin: 0 0 0 25px;
}

.actual-list-slider-arrows {
    position: relative;
    margin: 0;
    padding: 0;
}

.actual-list-slider-left-arrow {
    position: absolute;
    top: 9px;
    left: 25px;
    width: 24px;
    height: 44px;
    background-image: url(../img/icon-left.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.actual-list-slider-right-arrow {
    position: absolute;
    top: 9px;
    right: 19px;
    width: 24px;
    height: 44px;
    background-image: url(../img/icon-right.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.actual-list-button {
    margin: 100px 0 22px 26px;
    padding: 11px 45px 11px 49px;
}
/* Популярные товары */
.popular-goods-headline-flex {
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #f9f5f0;
    padding: 25px 0 26px 0;
    margin: 0 auto 20px auto;
}

.popular-goods-headline {
    margin: auto 29px;
    width: 400px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    font-family: "Cuprum","Arial",sans-serif;
    color: #32425c;
    text-transform: uppercase;
    background-color: #f9f5f0;
}

.popular-goods-headline-button {
    text-align: center;
    min-width: 201px;
    padding: 10px 26px;
    margin-right: 24px;
}
/* Каталог */
.catalog-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    margin: 0 0 32px -20px;
    list-style: none;
}

.popular-goods-list {
    margin: 0 0 0 -20px;
}

.catalog-item {
    width: 218px;
    border: 1px solid #e5e5e5;
    margin: 0 0 20px 20px;
    border-radius: 3px;
    position: relative;
}

.catalog-item:hover {
    -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
        box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.catalog-item-title-link {
    font-family: "PT Sans","Arial", sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    background-color: #ffffff;
    display: block;
    max-width: 180px;
    padding: 0 20px;
}

.catalog-item-image {
    display: block;
    margin: 0;
    padding: 0;
}

.catalog-item-title {
    margin: 0;
    padding: 1px 0 40px 0;
    font-family: "PT Sans","Arial", sans-serif;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    font-weight: 700;
}

.catalog-item-price {
    margin: 0;
    padding: 0;
}

.catalog-item-oldprice {
    font-size: 17px;
    line-height: 18px;
    font-family: "PT Sans","Arial",sans-serif;
    font-weight: 700;
    text-decoration: line-through;
    margin: -30px 0 12px 0;
    padding: 0;
    display: block;
    text-align: center;
    color: #999999;
}

.catalog-item-price-button {
    position: relative;
    font-size: 17px;
    line-height: 18px;
    font-family: "PT Sans","Arial",sans-serif;
    font-weight: 700;
    color: #ffffff;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 20px 10px 36px;
    margin: 0 36px 20px 43px;
    border-radius: 3px;
    background-color: #ee434f;
}

.catalog-item-price-button::after {
    position: absolute;
    content: "";
    top: 0;
    right: -36px;
    border: 19px solid #ffffff;	
    border-left: 20px solid #ee434f;
}

.catalog-item-price-button:hover {
    background-color: #ca2c37;
}
.catalog-item-price-button:hover::after {
    border-left: 20px solid #ca2c37;
}

.catalog-item-price-button:active {
    background-color: #ba2732;
}
.catalog-item-price-button:active::after {
    border-left: 20px solid #ba2732;
}

.catalog-item-action {
    position: absolute;
    top: 0;
    left: 0;
    width: 218px;
    margin: 0;
    padding: 43px 0 50px 0;
    display: none;
    background-color: #ffffff;
}

.catalog-item:hover .catalog-item-action {
    display: block;
}

.catalog-item-action-buy {
    position: relative;
    font-size: 14px;
    line-height: 18px;
    font-family: "Cuprum","Arial",sans-serif;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    display: block;
    background-color: #63a63e;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 0 0 #367315;
            box-shadow: 0 2px 0 0 #367315;
    padding: 10px 45px 8px 50px;
    margin: 0 42px 10px 42px;
}

.catalog-item-action-buy::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 16px;
    width: 20px;
    height: 20px;
    background-image: url(../img/icon-cart.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.6;
}

.catalog-item-action-buy:hover::before {
    opacity: 1;
}

.catalog-item-action-buy:active::before {
    opacity: 1;
}

.catalog-item-action-buy:hover {
    background-color: #5fbb2d;
}

.catalog-item-action-buy:active {
    background-color: #518534;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.catalog-item-action-bookmarks {
    display: block;
    font-size: 14px;
    line-height: 18px;
    font-family: "Cuprum","Arial",sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #32425c;
    background-color: #ffffff;
    border: 3px #63a63e solid;
    border-radius: 3px;
    margin: 0 42px 0px 42px;
    padding: 9px 28px 7px 31px;
}

.catalog-item-action-bookmarks:hover {
    color: #32425c;
    border: 3px #32425c solid;
}

.catalog-item-action-bookmarks:active {
    color: rgba(50, 66, 92, 0.302);
    border-color: rgba(50, 66, 92, 0.302);
}
/* Производители */
.manufacturers-headline-flex {
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #f9f5f0;
    padding: 26px 0 25px 0;
    margin: 0 auto 20px auto;
}

.manufacturers-headline {
    margin: auto 29px;
    width: 400px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    font-family: "Cuprum","Arial",sans-serif;
    color: #32425c;
    text-transform: uppercase;
    background-color: #f9f5f0;
}

.manufacturers-headline-button {
    text-align: center;
    padding: 10px 26px;
    margin-right: 24px;
    min-width: 201px;
}

.manufacturers-list {
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: #ffffff; 
    list-style: none;
    padding: 0;
    margin: 0 0 65px 0;
}

.manufacturers-logo {
    display: inline-block;
    vertical-align: middle;
    pointer-events: none;
}

.manufacturers-link {
    display: inline-block;
    vertical-align: middle;
    pointer-events: none;
}

.manufacturers-item {
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 218px;
    height: 143px;
    margin: 0 0 20px 0;
    border: 1px solid #e5e5e5;
    border-radius: 3px;

}

.manufacturers-item:hover {
    -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
            box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.manufacturers-item:active {
    -webkit-box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
            box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
    opacity: 0.3;
}
/* Сервисы */
.services-block {
    margin: 0;
    width: 100%;
    min-width: 960px;
    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans","Arial",sans-serif;
    font-weight: 400;
    color: #000000;
    background-color: #f4f8fa;
}

.services-title {
    font-family: "Cuprum","Arial",sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    padding: 68px 0 0 0;
    margin: 0 0 24px 0;
}

.services-text {
    width: 400px;
    padding-bottom: 56px;
}
/* Слайдер 2 */
.services-slider-block {
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
} 

.services-slider-button {
    width: 240px;
    font-family: "Cuprum","Arial",sans-serif;
    font-size: 21px;
    line-height: 30px;
    font-weight: 400;
    position: relative;
    padding-bottom: 98px;
}

.services-slider-button::after {
    content: "";
    position: absolute;
    top: -52px;
    right: 0;
    width: 10px;
    height: 272px;
    background-image: url(../img/service-shadow.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.5;
}

.services-slider-radio {
    display: none;
}

.services-slider-label {
    display: block;
    padding: 16px 20px 16px 22px;
    min-width: 198px;
    color: #ffffff;
    background-color: #32425c;
}

.services-slider-label:hover {
    background-color: #293449;
}
 
.services-slider {
    width: 700px;
    position: relative;
    padding: 0 0 0 80px;
}

.services-slider-title {
    font-family: "Cuprum","Arial",sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #32425c;
    text-transform: uppercase;
    margin: 4px 0 32px 0;
    padding: 0;
}

.services-slider-text-delivery {
    width: 275px;
}

.services-slider-text-warranty {
    width: 390px;
}

.services-slider-text-credit {
    width: 285px;
}

.services-slide:nth-of-type(1)::before {
    content: "";
    position: absolute;
    top: 19px;
    right: 0;
    width: 468px;
    height: 261px;    
    background-image: url(../img/auto.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.services-slide:nth-of-type(2)::before {
    content: "";
    position: absolute;
    top: 0;
    right: -10px;
    width: 389px;
    height: 283px;   
    background-image: url(../img/warranty.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.services-slide:nth-of-type(3)::before {
    content: "";
    position: absolute;
    top: 0;
    right: -10px;
    width: 465px;
    height: 285px;   
    background-image: url(../img/credit.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.services-slider-radio:checked + .services-slider-label {
    background-color: #ffffff;
    color: #32425c;
} 

.services-slide {
    display: none;
} 

.services-slider-radio:nth-of-type(1):checked ~ .services-slider-button .services-slider-label:nth-of-type(1),
.services-slider-radio:nth-of-type(2):checked ~ .services-slider-button .services-slider-label:nth-of-type(2),
.services-slider-radio:nth-of-type(3):checked ~ .services-slider-button .services-slider-label:nth-of-type(3) {
    background-color: #ffffff;
    color: #32425c;
    font-weight: 700; 
}

.services-slider-radio:nth-of-type(1):checked ~ .services-slider .services-slide:nth-of-type(1),
.services-slider-radio:nth-of-type(2):checked ~ .services-slider .services-slide:nth-of-type(2),
.services-slider-radio:nth-of-type(3):checked ~ .services-slider .services-slide:nth-of-type(3) {
    display: block;
}
/* О компании */
.about-company-flex {
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 78px 10px 74px 10px;
    margin-bottom: 10px;
    font-family: "Cuprum","Arial", sans-serif;
    font-size: 18px;
    line-height: 20px;
    background-color: #ffffff; 
}

.about-company {
    width: 540px;
}

.about-company-headline {
    margin: 0 0 26px 0;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
}

.about-company-text {
    margin-top: 0;
    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans","Arial",sans-serif;
    font-weight: 400;
    color: #000000; 
    margin-bottom: 24px;
}

.about-company-text:last-of-type {
    width: 400px;
    margin-bottom: 12px;
}

.about-company-list {
    list-style: none;
    font-size: 18px;
    line-height: 20px;
    padding: 0;
    margin: 0 0 27px 0;
}

.about-company-list-item {
    padding: 10px 36px;
    position: relative;
}

.about-company-list-item::before {
    content: "";
    position: absolute;
    top: 18px;
    left: 0;
    width: 25px;
    height: 2px;    
    background-color: #ee3643;
}

.company-contacts {
    width: 300px;
}

.company-contacts-headline {
    margin: 0 0 26px 0;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
}

.company-contacts-text {
    margin-top: 0;
    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans","Arial",sans-serif;
    font-weight: 400;
    color: #000000;    
    width: 220px;
    margin-bottom: 32px;
}

.company-contacts-map {
    margin-bottom: 36px;
}

.company-contacts-button {
    padding: 10px 10px 10px 12px;
    width: 280px;
    text-align: center;
}

.inner-page .header-bottom {
    margin-bottom: 20px;
}

.breadcrumbs-flex {
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;
    list-style: none;
    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans","Arial",sans-serif;
    text-transform: uppercase;
    color: #000000;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0 0 20px 0;
    padding: 0;
}

.breadcrumbs-item {
    display: inline-block; 
    vertical-align: middle;    
    padding: 0 20px;
    position: relative;
}

.breadcrumbs-item:first-child {
    padding-left: 0;
}

.breadcrumbs-link {
    color: #000000;
}

.breadcrumbs-link::after {
    content: "";
    position: absolute;
    top: 2px;
    right: -7px;
    width: 8px;
    height: 12px;    
    background-image: url(../img/icon-right-small.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.main-heading {
    background-color: #ffffff;
}

.heading {
    padding: 30px;
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #32425c;
    background-color: #f2f6f8;
}

.main-block {
    background-color: #ffffff;
}

.main-block-flex {
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
/* Фильтр */
.filters {
    width: 220px;   
}

.form-filters {
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 220px;
    font-size: 15px;
    line-height: 18px;
    font-family: "PT Sans","Arial",sans-serif;
    text-transform: uppercase;
    color: #000000;
}

.form-filters-heading {
    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans","Arial",sans-serif;
    color: #000000;
    text-transform: uppercase;
    padding: 10px 0 10px 19px;
    border-radius: 3px;
    background-color: #f7f3ec;
    width: 100%;
    margin: 0 0 6px 0;
}

.form-filters-headline {
    font-size: 17px;
    line-height: 30px;
    margin: 0;
    padding: 6px 0 12px 0;
    width: 100%;
}

.filter-by-price {
    position: relative;
    margin-bottom: 12px;
}

.filter-by-price-slider {
    padding: 39px 20px;
    background-color: #f7f3ec;
    margin-bottom: 10px;
    border-radius: 3px;
    position: relative;
}

.filter-by-price-range {
    width: 180px;
    height: 2px;
    background-color: #d7dcde;
}

.filter-by-price-range-active {
    width: 83%;
    height: 2px;
    background-color: #00ca74;
}

.filter-by-price-min {
    position: absolute;
    top: 29px;
    left: 20px;
    width: 4px;
    height: 4px;
    background-color: #ababab;
    border-radius: 50%;
    border: 8px solid #ffffff;
    -webkit-box-shadow: 0 1px 1px 0 #e0ddd8;
            box-shadow: 0 1px 1px 0 #e0ddd8;
}

.filter-by-price-max {
    position: absolute;
    top: 29px;
    left: 160px;
    width: 4px;
    height: 4px;
    background-color: #ababab;
    border-radius: 50%;
    border: 8px solid #ffffff;
    -webkit-box-shadow: 0 1px 1px 0 #e0ddd8;
            box-shadow: 0 1px 1px 0 #e0ddd8;
}

.filter-by-price-from {
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    display: inline-block;
    width: 75px;
    padding: 9px 10px 11px 10px;
    background-color: #f7f3ec;    
    border-style: none;
    outline: none;
    border-radius: 3px;
    margin: 0 0 25px 0;
}

.filter-by-price-dash {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 1px;
    background-color: #000000;
    padding: 0;
    margin: 0 5px;
}

.filter-by-price-to {
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    display: inline-block;
    width: 75px;
    padding: 9px 10px 11px 10px;   
    background-color: #f7f3ec;
    border-style: none;
    outline: none;
    border-radius: 3px;
    margin: 0 0 25px 0;
}

.filter-by-price::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #e5e5e5;
}

.filter-by-price-from::-webkit-input-placeholder,
.filter-by-price-to::-webkit-input-placeholder {
     color: #000000; 
}
.filter-by-price-from:-ms-input-placeholder,
.filter-by-price-to:-ms-input-placeholder  {
     color: #000000; 
}
.filter-by-price-from::-ms-input-placeholder,
.filter-by-price-to::-ms-input-placeholder {
     color: #000000; 
}
.filter-by-price-from::placeholder,
.filter-by-price-to::placeholder {
     color: #000000; 
} 

.filter-by-firm {
    position: relative;
    width: 100%;
    margin-bottom: 14px;
}

.filter-by-firm-list {
    width: 100%;
    font-size: 15px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.filter-by-firm::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #e5e5e5;
}

.filter-by-firm-item {
    margin-bottom: 20px;
    padding: 0;
}

.filter-by-firm-item-input,
.filter-by-type-item-input {
    display: none;
}

.filter-by-firm-item-label {
    padding-left: 35px;
    position: relative;
    cursor: pointer; 
}

.filter-by-firm-item-label:hover {
    color: #000000;
}

.filter-by-firm-item-input:disabled ~ .filter-by-firm-item-label {
    opacity: 0.4;
}

.filter-by-firm-item-label::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 19px;
    height: 19px;
    border: 2px solid #c5c5c5;
    border-radius: 3px;
}

.filter-by-firm-item-label:hover::before {
    border-color: #b5b5b5;
}

.filter-by-firm-item-input:checked ~ .filter-by-firm-item-label::before {
    border: transparent;
}

.filter-by-firm-item-input:checked ~ .filter-by-firm-item-label::after {
    content: "";
    position: absolute;
    top: -2px;
    left: 0px;
    width: 26px;
    height: 23px;
    background-image: url(../img/checkbox-on.svg)
}

.filter-by-firm-item-input:checked ~ .filter-by-firm-item-label:hover::after {
    background-image: url(../img/checkbox-hover-on.svg)
}

.filter-by-type-list {
    font-size: 15px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 2px 0 58px 0;
}

.filter-by-type-item {
    margin-bottom: 21px;
    padding: 0;
}

.filter-by-type-item-label {
    padding-left: 35px;
    position: relative;
    cursor: pointer; 
}

.filter-by-type-item-input:disabled ~ .filter-by-type-item-label {
    opacity: 0.4;
}

.filter-by-type-item-label::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0px;
    width: 17px;
    height: 17px;
    background-color: #ffffff;
    border: 4px solid #c5c5c5;
    border-radius: 50%;
}

.filter-by-type-item-label:hover::before  {
    border-color: #b5b5b5;
}

.filter-by-type-item-input:checked ~ .filter-by-type-item-label::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 8px;
    width: 9px;
    height: 9px;
    background-color: #c5c5c5;
    border-radius: 50%;
}

.filter-by-type-item-input:checked ~ .filter-by-type-item-label:hover::after  {
    background-color: #b5b5b5;
}

.filter-button {
    display: block;
    padding: 10px 39px;
    font-size: 13px;
    text-transform: uppercase;
    background-color: #ffffff;
    border-style: none;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
}
/* Сортировка */
.sorting {
    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans","Arial",sans-serif;
    color: #000000;
    text-transform: uppercase;
    padding: 10px 0 9px 0;
    border-radius: 3px;
    background-color: #f7f3ec;
    margin-bottom: 20px;
}

.sorting-heading {
    margin-left: 19px;
}

.sorting-parameters {
    display: inline-block;  
    vertical-align: middle;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sorting-parameters-item {
    display: inline-block; 
    vertical-align: middle;
}

.sorting-parameters-link {
    color: rgba(0, 0, 0, 0.302);
    border-bottom: 1px dotted #ee3643;
}

.sorting-by-price {
    margin-left: 140px;
}

.sorting-by-type,
.sorting-by-function {
    margin-left: 65px;
}

.sorting-parameters-link:hover {
    color: #000000;
    border-bottom: 1px solid #ee3643;
}

.sorting-parameters-link:active {
    color: #ee3643;
    border-bottom: 1px solid transparent;
}

.sorting-parameters-link-active {
    color: #ee3643;
    border-bottom: 1px solid transparent;
}

.sorting-direction {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    list-style: none;
    margin: 0;
}

.sorting-asc {
    margin-left: 38px;
    position: relative;
}

.sorting-asc::before {
    content: "";
    position: absolute;
    top: -12px;
    border: 6px solid transparent;	
    border-bottom: 11px solid #c5c5c5;
}

.sorting-desc {
    margin-left: 70px;
    position: relative;
}

.sorting-desc::before {
    content: "";
    position: absolute;
    top: -6px;
    border: 6px solid transparent;	
    border-top: 11px solid #c5c5c5;
}

.sorting-asc:hover::before {
    border-bottom: 11px solid #231f20;
}

.sorting-desc:hover::before {
    border-top: 11px solid #231f20;
}

.sorting-asc:active::before {
    border-bottom: 11px solid #ee3643;
}

.sorting-desc:active::before {
    border-top: 11px solid #ee3643;
}

.sorting-ask-active::before {
    border-bottom: 11px solid #ee3643;
}

.sorting-desc-active::before {
    border-bottom: 11px solid #ee3643;
}

.catalog-right {
    width: 700px;
}

.pagination {
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans","Arial",sans-serif;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffffff;
    margin-bottom: 60px;
}

.pagination-link {
    color: #000000;
    padding: 9px 15px 10px 15px;
    margin-right: 10px;
    background-color: #ffffff;
    border: 0.5px #e5e5e5 solid;
    border-radius: 3px;
}

.pagination-current {
    color: #ffffff;
    background-color: #ee3643;
    border: 0.5px #ee3643 solid;
}

.pagination-link:last-child {
    display: block;
    min-width: 110px;
    text-align: center;
}


.pagination-link:hover {
    color: #000000;
    background-color: #ffffff;
    border: 0.5px #bdc6ca solid;
}

.pagination-link:active {
    color: #000000;
    background-color: #ffffff;
    border: 0.5px #ee3643 solid;
}

.info-about-perforator {
    background-color: #f2f6f8;
    width: 100%;
    min-width: 960px;
}

.info-about-perforator-heading {
    font-family: "Cuprum","Arial",sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    margin: 0;
    color: #000000;
    text-transform: uppercase; 
    padding: 66px 0 26px 1px;
}

.info-about-perforator-text {
    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans","Arial",sans-serif;
    font-weight: 400;
    color: #000000; 
    padding-bottom: 67px;
    margin: 0;
}


.footer-top {
    display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    min-width: 960px;
    -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    padding: 0 0 51px 0;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    background-color: #32425c; 
}

.footer-top-flex {
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 0;
}

.footer-top-logo {
    height: 63px;
    background-color: #ee3643; 
    -webkit-box-shadow: 0 5px 0 0 #b52933; 
            box-shadow: 0 5px 0 0 #b52933;
} 

.footer-top-logo-img {
    padding: 20px 42px 21px 42px;
    display: inline-block;
    vertical-align: middle;
    pointer-events: none;
} 

.footer-top-logo:hover {
    background-color: #ca2c37;
}

.footer-top-logo:active {
    background-color: #ba2732;
}
  
.footer-top-address {
    margin: 0;
    width: 330px;
}

.footer-top-nav,
.footer-top-additional-nav,
.footer-bottom-social {
    list-style: none;
}

.footer-top-nav-link {
    display: block;
    font-size: 18px;
    line-height: 24px;
    color: #f1f5f7;
}

.footer-top-nav-link:hover {
   text-decoration: underline;
}

.footer-top-nav-link:active {
    color: rgba(241, 245, 247, 0.502);
    text-decoration: none;
}

.footer-top-nav {
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 546px;
    margin: 38px 0 34px 0;
}

.footer-top-additional-nav {
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    width: 556px;
}

.footer-top-additional-nav-link {
    display: block;
    margin-left: 30px;
    color: #ffd180;
}

.footer-top-additional-nav-link:hover {
    text-decoration: underline;
}

.footer-top-additional-nav-link:active {
    color: rgba(255, 209, 128, 0.502); 
    text-decoration: none;
}

.footer-bottom {
    width: 100%;
    min-width: 960px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    background-color: #293449; 
}

.footer-bottom-flex {
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer-bottom-copyright {
    width: 240px;
    margin-right: 150px;
    padding: 20px 0;
}

.footer-bottom-social {
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 35px 114px 30px -4px;
    padding: 0;
    width: 141px;
}

.footer-bottom-social-button {
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    margin: 0 0 4px 4px;
    background-color: #212a3a;
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.footer-bottom-social-vk::after {
    content: "";
    position: absolute;
    top: 13px;
    left: 7px;
    width: 27px;
    height: 15px;
    background-image: url(../img/icon-vk.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.footer-bottom-social-fb::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 14px;
    width: 12px;
    height: 22px;
    background-image: url(../img/icon-fb.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.footer-bottom-social-instagram::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 11px;
    width: 21px;
    height: 21px; 
    background-image: url(../img/icon-insta.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.footer-bottom-social-button:hover {
    background-color: #ee3643;
}

.footer-bottom-social-button:active {
    background-color: #ee3643;
}

.footer-bottom-feedback {
    width: 140px;
    margin: 0;
    margin-right: 50px;
    padding: 20px 0;
}

.footer-bottom-feedback:last-child {
    margin: 0;
    width: 110px;
}

.footer-bottom-feedback-text {
    margin-bottom: 0;
} 

.footer-bottom-feedback-link {
    color: #ffd180;
}

.footer-bottom-feedback-link:hover {
    text-decoration: underline;
}

.footer-bottom-feedback-link:active {
    text-decoration: none;
    color: #ee3643;
}

/* Модальные окна */
.modal {
    position: fixed;
    color: #000000;
    background-color: #ffffff;

}
/* Модалка Напишите нам */
.modal-write-us {
    width: 620px;
    padding: 0;
    top: 100px;
    left: 50%;
    margin-left: -310px;
    -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
    border-top: 7px solid #ff5357;
}

.modal-write-us-input-block {
    padding: 26px 80px 37px 80px;
    background-color: #ffffff;
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.modal-write-us-label {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    width: 220px;
    padding: 22px 0 13px 0;
}

.modal-write-us-input {
    font-family: "PT Sans","Arial",sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #999999;
    width: 208px;
    height: 37px;
    padding-left: 12px;
    border-style: none;
    border: 2px solid #d7dcde;
    border-radius: 3px;
    outline: none;
}

.modal-write-us-textarea {
    font-family: "PT Sans","Arial",sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #999999;
    width: 448px;
    padding: 7px 0 0 12px;
    border-style: none;
    border: 2px solid #d7dcde;
    border-radius: 3px;
    outline: none;
    resize: none;
}

.modal-write-us-input:hover,
.modal-write-us-textarea:hover {
    border-color: #b5b5b5;
}

.modal-write-us-input:focus,
.modal-write-us-textarea:focus {
    border-color: #ee3643;
}

.modal-write-us-label:last-child,
.modal-write-us-input:last-child {
    width: 100%;
}

.modal-write-us-button {
    padding: 37px 80px;
    background-color: #f4f4f4;
}

.modal-write-us-submit {
    width: 100%;
    border-style: none;
    outline: none;
    background-color: #ee3643;
}

.modal-write-us-submit:hover {
    background-color: #b22832;
}

.modal-write-us-close {
    border-style: none;
    background-color: #ffffff;
    outline: none;
    position: absolute;
    top: 9px;
    right: 9px;
    width: 22px;
    height: 22px;
    background-image: url(../img/icon-close.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    cursor: pointer;
}

.modal-write-us-close:hover {
    background-image: url(../img/icon-close-hover.svg);
}
/* Модалка Карта */
.modal-map {
    width: 940px;
    height: 446px;
    padding: 0;
    top: 100px;
    left: 50%;
    margin-left: -470px;
    -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.75);
            box-shadow: 0 2px 20px rgba(0, 0, 0, 0.75);
    background: #ffffff;
}

.modal-map-img {
    background-image: url(../img/modal-map.jpg);
    background-repeat: no-repeat;
}

.modal-map-iframe {
    border: 0;
}

.modal-map-close {
    border-style: none;
    outline: none;
    position: absolute;
    top: 9px;
    right: 9px;
    width: 22px;
    height: 22px;
    background-image: url(../img/icon-close.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
}
/* Модалка Корзина */
.modal-cart {
    top: 100px;
    left: 50%;
    margin-left: -310px;
    width: 620px;
    border-top: 7px solid #ff5357;
    background-color: #ffffff;
    color: #000000;
    -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
}

.modal-cart-text {
    margin: 0;
    padding: 68px 0 68px 0;
    text-align: center;
    font-family: "Cuprum","Arial",sans-serif;
    font-size: 30px;
    line-height: 30px;
}

.modal-cart-close {
    border-style: none;
    outline: none;
    position: absolute;
    top: 9px;
    right: 9px;
    width: 22px;
    height: 22px;
    background-color: #ffffff;
    background-image: url(../img/icon-close.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    cursor: pointer;
}

.modal-cart-button {
    font-family: "Cuprum","Arial",sans-serif;
    font-size: 14px;
    line-height: 18px;
    padding: 37px 80px;
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #f1f1f1;
}

.modal-cart-button-order {
    margin-right: 20px; 
    text-align: center;
    width: 220px;
    background-color: #ee3643;
}

.modal-cart-button-buy {
    text-align: center;
    width: 220px;
    background-color: #ffffff;
    color: #000000;
    font-weight: 700;
}

.modal-cart-text::before {
    position: absolute;
    top: 48px;
    left: 80px;
    width: 66px;
    height: 66px;
    background-image: url(../img/icon-close.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.modal {
    z-index: 2;
    display: none;
}
/* Анимация */
@-webkit-keyframes bounce {
    0% {-webkit-transform: translateY(-2000px);transform: translateY(-2000px);}
    70% {-webkit-transform: translateY(30px);transform: translateY(30px);}
    90% {-webkit-transform: translateY(-10px);transform: translateY(-10px);}
    100% {-webkit-transform: translateY(0);transform: translateY(0);}
}

@keyframes bounce {
    0% {-webkit-transform: translateY(-2000px);transform: translateY(-2000px);}
    70% {-webkit-transform: translateY(30px);transform: translateY(30px);}
    90% {-webkit-transform: translateY(-10px);transform: translateY(-10px);}
    100% {-webkit-transform: translateY(0);transform: translateY(0);}
}

@-webkit-keyframes shake {
    0%, 100% {-webkit-transform: translateX(0);transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);transform: translateX(-10px);}
    20%, 40%, 50%, 80% {-webkit-transform: translateX(10px);transform: translateX(10px);}
}

@keyframes shake {
    0%, 100% {-webkit-transform: translateX(0);transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);transform: translateX(-10px);}
    20%, 40%, 50%, 80% {-webkit-transform: translateX(10px);transform: translateX(10px);}
}

.modal-show {
    display: block;
    -webkit-animation-name: bounce;
        animation-name: bounce;
    -webkit-animation-duration: 0.6s;
        animation-duration: 0.6s;
}

.modal-error {
    -webkit-animation-name: shake;
        animation-name: shake;
    -webkit-animation-duration: 0.6s;
        animation-duration: 0.6s;
}

.write-us {
    margin: 0 auto 60px auto;
    padding: 0;
    top: 100px;
}

.write-us-title {
    margin: 10px 0;
    padding: 25px;
    background-color: #f4f4f4;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    font-family: "Cuprum","Arial",sans-serif;
    color: #32425c;
    text-transform: uppercase;
}

.write-us-input-block {
    width: 460px;
    padding: 20px 240px 20px 240px;
    background-color: #ffffff;
    display: -webkit-box;
        display: -ms-flexbox;
            display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.write-us-button {
    width: 100%;
    padding: 37px 0;
    background-color: #f4f4f4;
    text-align: center;
}

.write-us-submit {
    width: 50%;
    border: 0;
}

.map-title {
    margin: 20px 0;
    padding: 25px;
    background-color: #f4f4f4;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    font-family: "Cuprum","Arial",sans-serif;
    color: #32425c;
    text-transform: uppercase;
}

.map-img {
    width: 940px;
    height: 446px;
    background-image: url(../img/modal-map.jpg);
    background-repeat: no-repeat;
    margin-bottom: 60px;
}

.map-iframe {
    border: 0;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
        clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}